div.card-block .glyphicon 
{
    font-size: 50px;
    display:block;
    text-align:center
}

#success_message
{ 
	display: none;
}

.navbar
{
	margin-bottom: 0px;
}


.hero
{
  background:url(../img/hero.jpg);
  background-attachment: fixed;
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
  margin:0px 0px 15px 0px;
}

.hero, .content
{
  position:relative;
  width: 100%;
}

.inner
{
  min-height:650px;
  position: relative;
}

.hero .inner
{
  background: rgba(0,0,0,0.7) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAD0lEQVQIW2NkQABjRmQOAAM+AGkQsDBSAAAAAElFTkSuQmCC) repeat;
}


.copy
{
  text-align: center;
  position:absolute; 
  top:50%; 
  height:8.5em; 
  margin-top:-5em; 
  width:100%;
}

.hero h1, .hero p
{ 
	font-size:38px;
  	color:#fff;
}

.hero div.copy
{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px;
  background: inherit;
  background-attachment: fixed;

}

.content h1, .content p
{
	margin: 0;
  color: white;
  position: relative;
  z-index: 1;
  color:#333;
}

h1
{
  margin:0px;
  font-weight:400;
  padding:0px 20px;

}

.hero p
{
  	font-size:18px;
  	padding:0px 20px;
}

section div.content
{
	padding:15px 0px 25px 0px;
}

#Projects p, section div.content h4
{
	text-align: center; 	
}

section div.content h1
{
	text-align: center;
	font-size:36px;
}

div.row
{
	padding:10px 0px 0px 0px;
}

div.content hr
{
	display: block;
    height: 1px;
    margin: .5em 0;
    padding: 0; 
    border-color: #FFF;
}


div.clearfix.separator
{
	border-top: 2px solid #ccc;
}

section p
{
	padding: 5px 0px 5px 0px;
}


div.copy h1
{
	color:#335677;
}

body
{
	font-family:Lucida Sans Unicode, Lucida Grande, sans-serif;
}

ul.nav li a, nav.navbar a
{
	color: rgba( 255, 255, 255, 0.8 );
}

ul.nav li.active a
{
	color: #6EAAE0;
}

nav.navbar-fixed-top
{
    background: rgba( 0, 0, 0, 0.2 );
    border-bottom:1px solid rgba( 255, 255, 255, 0.8 );
}

nav.inverse_navbar.navbar-fixed-top, nav button.navbar-toggle
{
	background:#FFF;
	border-bottom :1px solid rgba(107, 104, 104, 0.8);
}

nav.inverse_navbar ul.nav li a, nav.inverse_navbar a.navbar-brand, nav.inverse_navbar button.navbar-toggle
{
	color: gray;
}

nav.inverse_navbar ul.nav li.active a
{
	color: #6EAAE0;
}

nav, ul.nav li a, ul.nav li.active a, nav button.navbar-toggle
{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


nav ul.nav>li>a:focus, nav ul.nav>li>a:hover
{
	color: #6EAAE0;
	background: rgba( 0, 0, 0, 0.2 );
}

nav.inverse_navbar ul.nav>li>a:focus, nav.inverse_navbar ul.nav>li>a:hover
{
	color: #6EAAE0;
	background:#FFF;
}

